.fireWorkWrapper {
  padding: 15px;
  margin-top: 30px;
}
.countdownWrapper {
  display: flex;
}
.countdownList {
  margin: auto;
  display: grid;
  list-style: none;
  grid-template-columns: auto auto auto auto;
  border-radius: 50px;
}
.countdownTitle,
.LunarYear {
  text-align: center;
  font-size: 20px;
  color: #fffabc;
  text-transform: uppercase;
}
.LunarYear {
  font-size: 70px;
  font-family: 'Dancing Script', serif;
}
.LunarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.LunarIcon {
  height: 100px;
}
.countdownItem {
  cursor: pointer;
  color: #fffabc;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin: 0 20px;
  background-color: #1c1a1a;
  min-width: 160px;
  position: relative;
}
.countdownItem::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-color: #de4429;
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 50%;
}
.timeValue {
  font-size: 60px;
  padding: 20px;
  font-family: 'Orbitron', sans-serif;
}
.timeTitle {
  padding: 20px;
  font-size: 15px;
  background-color: #090908;
  position: relative;
}
.timeTitle::after {
  content: ' ';
  width: 40%;
  background-color: #de4429;
  height: 3px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
.toggleAudioBtn {
  width: 100%;
}
@media screen and (max-width: 1023.98px) {
  .countdownList {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 576px) {
  .countdownList {
    padding: 0;
  }
  .countdownItem {
    font-size: 17px;
  }
  .countdownList {
    grid-template-columns: auto;
  }
}
