.headerLogo {
  width: 150px;
  height: 50px;
  object-fit: contain;
  cursor: pointer;
}
.productLink {
  text-decoration: none;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
}
.nav {
  display: flex;
  flex: 1;
  justify-content: center;
}
.navToggleBtn {
  display: none;
}
.navList {
  display: flex;
  justify-content: center;
  list-style: none;
}
.navItem {
  margin: 0 1rem;
}
.headerCart {
  padding: 0 40px 0 10px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

/* mobile */
@media (max-width: 576px) {
  .navList {
    display: none;
  }

  .productLink {
    font-size: 13px;
  }
  .headerCart {
    padding-right: 15px;
  }
  .navToggleBtn {
    display: block;
  }
  .headerHotlineBtn {
    display: none;
  }
}
/* very small */
@media (max-width: 375px) {
  .productLink {
    font-size: 12px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .navItem {
    margin: 0 5px;
  }
}
